/* img{
   border-radius: 500px;
   width: 300px;
   height: 300px;
} */
.homepage
{
   display:grid;
   justify-content:center;
   background-color: #717F99;
}

.navbar ul 
{
   list-style-type: none;
   background-color: #9a8d71;
   padding: 0px;
   margin: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar li
{
   flex: 1;
}

.navbar a
{
   color : black;
   text-decoration: none;
   padding: 20px;
   display: block;
   text-align: center;
}

.navbar a:hover
{
   background-color: #555; 
   color: white;
   border-radius: 10px;
}
.menubtn
{
   font-size: 25px;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
   width: 180px;
   height: 90px;
   font-family:'Times New Roman', Times, serif;
   background-color:#9a8d71;
   padding: 12px 24px;

}
.menubtn:hover
{
   cursor:pointer;
}

.subject ethic{
   color: #555;
}
td.apis
{
   border: solid 1px;
   color: #d91515;
   background-color: #031633;
   background:#a2b7d6;
}

.Gallo
{
   border: solid 4px;
   border-color: aliceblue;
   border-radius: 200px;
}

.Icon_CV
{
   background-color:rgb(168, 160, 229);
   width: 40px;
   height: 40px;
   border-radius: 15px;
   padding: 5px;
}

.Contacto
{
   display: flex;
   width: 100%;
}

.Habilities
{
   display: flex;
   width: 100%;
}

.info
{
   background-color: #a6ccde;
}

.info h1,
.info h5,
.col-8
{
   overflow-wrap: anywhere;
   word-break: break-word;
}

.info ul
{
   list-style-position: inside;
   margin-left: 30px;
   padding-left: 0;
   text-align: left;

}

.cv-section + .cv-section
{
   border-top: 1px solid;
   margin-top: 16px;
   padding-top: 16px;
   border-color: whitesmoke;
}