.father{
   display: flex;
   background-color: blue;
   width: 800px;
   height: 500px;
   flex-direction: row;
   flex-wrap: wrap;
   /* flex-flow: row; */
   justify-content: space-evenly;
   align-items: flex-start;
   align-content: center;
   /* row-gap: 12px; */
   column-gap: 30px;
}

.child{
   background-color: brown;
   width: 100px;
   height: 100px;
   color:blanchedalmond;
}
#a1{
   width: 250px;
   height: 100px;
   background-color:cornflowerblue;
   border-radius: 20px;
   font-size: 13px;
   font-family: Arial, Helvetica, sans-serif;
}
#a2{
   width: 100px;
   height: 250px;
   background-color:violet;
   justify-content:center;
   align-items: center;
   border-radius: 200px;
   font-optical-sizing: inherit;
}
#a3{
   width: 200px;
   height: 50px;
   background-color:turquoise;
   border-bottom-left-radius: 15px;
   text-align: center;
   font-family: cursive;
   font-size: 34px;
}
#a4{
   width: 50px;
   height: 200px;
   background-color:black;
   border-top-right-radius: 30px;
   border-color: aqua;
   text-align:right;
   font-family: fantasy;
   font-weight: 900;
}