img{
   border-radius: 500px;
   width: 300px;
   height: 300px;
}
.homepage
{
   display:grid;
   justify-content:center;
   background-color: #717F99;
}

.navbar ul 
{
   list-style-type: none;
   background-color: #9a8d71;
   padding: 0px;
   margin: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar li
{
   flex: 1;
}

.navbar a
{
   color : black;
   text-decoration: none;
   padding: 20px;
   display: block;
   text-align: center;
}

.navbar a:hover
{
   background-color: #555; 
   color: white;
   border-radius: 10px;
}
.menubtn
{
   font-size: 25px;
   margin: 10px;
   border-radius: 10px;
   text-align: center;
   width: 180px;
   height: 90px;
   font-family:'Times New Roman', Times, serif;
   background-color:#9a8d71;
   padding: 12px 24px;

}
.menubtn:hover
{
   cursor:pointer;
}

.subject ethic{
   color: #555;
}